* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: grid;
    justify-content: center;
    background-color: lavender;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 100px;
}

header {
    margin: 40px;
    padding: 18px;
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    justify-content: center;
    background-color: coral;
    padding: 10px;
    margin: 20px;
}

button {
    font-family: inherit;
    font-weight: bold;
    background-color: yellow;
    padding: 8px 12px;
    text-align: center;
    border: 2px solid red;
    border-radius: 8px;
}


