* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    background-color: lavender;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
    margin-bottom: 100px;
}

.grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    justify-content: center;
    background-color: coral;
    padding: 10px;
}


button {
    font-family: inherit;
    width: 100%;
    background-color: yellow;
    color: royalblue;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid red;
    border-radius: 8px;
    align-self: center;
    justify-content: center;
    flex: none;
}


