* {
    background-color: lavender;
}
.grid-container {
    display: grid;
    background-color: coral;
    padding: 10px;
}

.squares {
    height: auto;
    width: 200px;
    display: flex;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: red;
}

